.entry{
	line-height:105%;
	border: 2px solid blue;
	width: 300px;
	padding: 10px;
	font-family: arial;
	/*display: inline-grid;*/
	margin:10px;
}
body{
	width:70%;
	margin-left:15%;
	background-color:blue;
}
nav{
	margin:5px;
}
nav a{
	background-color:orange;
	color:blue;
	text-decoration:none;
	display:inline-block;
	padding:3px;
}
main{
	background-color:white;
	min-height:10cm;
	padding:10px;
}
header{
	background-color:orange;
	color:blue;
	padding:5px;
}
h1{
	display:inline-block;
}
#icon{
	display:inline-block;
}
